.pagseguro-method-form p{
	padding: 3px 7px 3px 7px !important;
}

#pagseguro-payment-methods label{
	width: auto !important;
	padding: 10px 10px !important;
}

.woocommerce-shipping-methods li {
	white-space: normal !important;
}